<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="xuggler.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="xuggler.Perspective"
            id="xuggler.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="xuggler.ViewPart1"
            id="xuggler.view1"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="xuggler.perspective">
         <view
               id="xuggler.view1"
               minimized="false"
               ratio="1.0f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="testxuggler"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.smartbuilder.sb3.test.xuggler.application"
            name="textXuggler">
      </product>
   </extension>

</plugin>
